<div class='container'>

<%= link_to 'New post', new_post_path %>	

	<% @posts.each do |post| %>
		<h2><%= link_to "#{post.title}", post %></h2>

		<p><%= post.post_text %></p>

		<%= link_to 'Edit', edit_post_path(post) %>

	<% end %>

</div>
